/*Pick font later maybe*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1{
font-size: 50px;
line-height: 64px;
color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color:#222;
} 

h4{
font-size: 20px;
color:#222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
/*banner button/global button*/
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition:0.2s;
}

body{
    width: 100%;
}

/*Start of Header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0,06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
/*Navbar styling*/
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height:2px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* index styling*/

#hero{
    background-image: url(https://i.ibb.co/BzZgHyq/newerhero.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/*hero text styling*/

#hero h4{
padding-bottom: 15px;
}

#hero h1{
    color:#088178;
}
/*still need an img for button*/
#hero button{
    background-image: url(https://i.ibb.co/nBVRQgH/button.webp);
    background-color: transparent;
    color:#088178;
    border:0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* Feature box styling*/

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 100px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0,03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
/* product style*/
#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06)
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

 #product1 .pro .des span{
     color: #606053;
     font-size: 12px;
 }

 /*banner styles(i am so tired lol)*/

 #banner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: url(https://i.ibb.co/WVyGMtD/banner.jpg);
     width: 100%;
     height:40vh;
     background-size: cover;
     background-position: center;
 }
 #banner h4{
     color: #fff;
     font-size: 16px;
 }

 #banner h2{
     color: #fff;
     font-size:30px;
     padding: 10px 0;
 }

 #banner button:hover{
     background-color: #088178;
     color:#fff;
 }

 /*shop page styles*/

 #page-header{
     background-image: url(https://i.ibb.co/2s0mDgy/shophead.png);
     width: 100%;
     height:40vh;
     background-size: cover;
     display: flex;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     padding: 14px;
 }

 #page-header h2,
 #page-header p{
color:#fff;
 }

